<div class="container">
            <h1>Implement KnowledgeList</h1>
    <div class="panel panel-primary" ng-repeat="Knowledge in Knowledges">
        <div class="panel-heading">{{Knowledge.Title}}</div>
        <div class="panel-body">
            <div>Number of Steps : {{Knowledge.Steps.length}}</div>
            <p>
                {{Knowledge.Description}}
            </p>
            <a class="btn btn-default" ng-repeat="tag in Knowledge.Tags" href="#">{{tag.TagName}}</a>
            
        </div>
    </div>
</div>

