<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h1>.</h1>
        </div>
    </div>
    <div class="panel panel-default">

        <div class="panel-heading">Knowledge main data</div>
        <div class="panel-body">
            <div class="form">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="Knowledge.Title">Knowledge Title</label>
                        <label data-ng-model="Knowledge.Title">{{Knowledge.Title}}</label>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="Knowledge.Title">Knowledge Tags</label>
                        <a class="btn btn-default" ng-repeat="tag in Knowledge.Tags" href="#">{{tag.TagName}}</a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="Knowledge.Title">Knowledge Description</label>
                        <label data-ng-model="Knowledge.Description">{{Knowledge.Description}}</label>
                    </div>
                </div>
                </div>
        </div>
    </div>
    





    <div class="panel panel-default">

        <div class="panel-heading">Knowledge Details</div>
        <div class="panel-body">
            <div class="form">
              <div class="form-horizontal" ng-repeat="step in Knowledge.Steps">

                  <div class="panel panel-default">
                      <div class="panel-body">
                          <p ng-if="step.StepTypeID == 1">{{step.Content}}</p>
                          <!--<p ng-if="step.StepTypeID == 2">{{step.Content}}</p>-->
                          <!--<div ng-if="step.StepTypeID == 2"></div>-->
                          <pre ng-if="step.StepTypeID == 2"><code class="html">{{step.Content}}</code></pre>
                          <img ng-if="step.StepTypeID == 3" ng-src="{{step.Content}}" />
                          <a ng-if="step.StepTypeID == 4" target="_blank" ng-href="{{step.Content}}">{{step.Content}}</a>
                      </div>
                  </div>
                  


        
                </div>
            </div>
        </div>
    </div>
    




    
</div>
